<nav class="site-nav">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
    <span class="menu-icon">
      <svg viewBox="0 0 18 15" width="18px" height="15px">
        <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484s0.665-1.484,1.484-1.484h15.032C17.335,0,18,0.665,18,1.484z M18,7.516c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,9,0,8.335,0,7.516s0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516z M18,13.516c0,0.82-0.665,1.484-1.484,1.484H1.484c-0.819,0-1.484-0.665-1.484-1.484s0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516z"/>
      </svg>
    </span>
  </label>

  <div class="trigger">
    {% for item in site.data.menu.entries %}
      {% if item.url %}
        <a class="page-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% elsif item.entries %}
        <div class="dropdown">
          <button class="dropbtn">{{ item.title }}</button>
          <div class="dropdown-content">
            {% for entry in item.entries %}
              {% if entry.url %}
                <a href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
              {% else %}
                <span>{{ entry.title }}</span>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <!-- Dynamic category menus -->
    {% for category in site.categories %}
      <div class="dropdown">
        <button class="dropbtn">Posts - {{ category[0] | capitalize }}</button>
        <div class="dropdown-content">
          {% assign posts = category[1] | sort: 'date' | reverse %}
          {% assign first_post = posts[0] %}
          <a href="{{ first_post.url | relative_url }}">{{ first_post.title }}</a>
          <a href="/{{ category[0] | slugify }}-archive">See more posts...</a>
        </div>
      </div>
    {% endfor %}

    <!-- New static search link -->
    <a class="page-link" href="/search">Search</a>
  </div>
</nav>
